.container {
    display: flex;
    width: 90%;
    max-width: 1100px;
    background: #2d87f0;
    border-radius: 12px;
    overflow: hidden;
}

.mockup-container {
     flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

}

.logo {
    max-width: 350px;
    height: auto;
}

.login-container {
    width: 400px;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr ;
    justify-content: right;
    align-items: center;

}
